html, body{
    width: 100%;
    height: 100%;
}

#keys{
    min-width: 50px;
    height: 40px;
    margin: 10px;
    border: 1px solid black;
}

.linha{
    height: 4px;
    width: 10px;
    border-radius: 3px;
}

.row>h1{
    width: 100%;
}

.state{
    display: flex;
    width: 60px;
    height: 60px;
    margin: 30px;
    border-radius: 50%;
    background: orange;
    align-items: center;
    justify-content: center;
    transition: all ease 0.8s;
}

.initial{
    border: 2px solid rgb(25, 140, 25);
}
.initial:after{
    content: '';
    position: absolute;
    left: 0;
    width: 35px;
    height: 5px;
    border-radius: 4px 0; 
    background: black;
}

.final{
    border: 2px solid black;
}

.final:before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
}